@using Microsoft.AspNetCore.Identity 
@inject UserManager<NETUser> _userManager
@model NETweet.Models.Tweet
@{
   var user = _userManager.GetUserId(User);
}

<div class="row">

    <div class="card card-columns bg-info post_leftCol">
        <a asp-controller="profile" asp-action="Index" asp-route-u="@Model.NETUser.UserName">
            <img class="card-img post_pic" src="~/pic.png" />
        </a>
    </div>

    <div class="card bg-info col-auto post_rightCol">
        <div class="card-header row post_rightCol_header">
            <div class="col-auto row post_rightCol_header_col1">
                <a asp-controller="profile" asp-action="Index" asp-route-u="@Model.NETUser.UserName">
                    <span class="font-weight-bold text-black-50">@Model.NETUser.UserName</span>
                </a>
            </div>
            <div class="col row post_rightCol_header_col2">
                <span>@Model.Date.ToShortTimeString() · @Model.Date.ToLongDateString()</span>
            </div>
            <div class="col-auto align-self-end post_rightCol_header_col3">
                @if (Model.UserRefID.Equals(user))
                {
                    <form asp-controller="tweet" asp-action="DeleteTweet">
                        <input type="hidden" asp-for="ID" value="@Model.ID" />
                        <button type="submit" class="btn">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                    </form>
                }
            </div>
        </div>
        <div class="card-body row post_rightCol_body">
            <a style="overflow: auto;" class="card-text">@Model.Text</a>
        </div>
        <div class="card-footer row post_rightCol_footer">
            <div class="col d-flex justify-content-center post_rightCol_footer_col1">
                <input type="hidden" asp-for="ID" value="@Model.ID" class="tweetID" />
                @if (Model.Reacts.Where(f => f.UserID.Equals(user)).Count().Equals(0))
                {
                    <button class="btn post_btn like_btn">
                        <i class="far fa-heart fa-lg"></i>
                    </button>
                }
                else
                {
                    <button class="btn post_btn dislike_btn">
                        <i class="fas fa-heart fa-lg i_like"></i>
                    </button>
                }
            </div>
            <div class="col d-flex justify-content-center post_rightCol_footer_col2">
                <button class="btn post_btn">
                    <i class="far fa-comment fa-lg"></i>
                </button>
            </div>
        </div>
    </div>

</div>
