@using Microsoft.AspNetCore.Identity
@inject UserManager<NETUser> _userManager
@model NETUser
@{
    var user = _userManager.GetUserId(User);
}

<div class="row">
    <div class="card card-columns bg-primary user_leftCol">
        <a asp-controller="profile" asp-action="Index" asp-route-u="@Model.UserName">
            <img class="card-img user_pic" src="~/pic.png" />
        </a>
    </div>

    <div class="card col-auto bg-primary user_midCol">
        <div class="row card-header user_midCol_header">
            <a asp-controller="profile" asp-action="Index" asp-route-u="@Model.UserName">
                <span class="font-weight-bold text-black-50">@Model.UserName</span>
            </a>
        </div>
        <div class="row card-body user_midCol_body">
            <span>@Model.Description</span>
        </div>
    </div>

    <div class="card card-columns bg-primary user_rightCol">
        <input type="hidden" value="@Model.Id" class="userID"/>
        @if (Model.Follower.Where(f => f.FollowerId.Equals(user)).Count().Equals(0))
        {
            @if (!Model.Id.Equals(user))
            {
                <button class="btn btn-info follow_btn">Seguir</button>
            }
        }
        else
        {
            <button class="btn btn-danger unfollow_btn">Dejar de seguir</button>
        }
    </div>
</div>